@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Root)]
@using ciklonalozi.Modals

<CreateOrder @ref=CreateOrderModal OnSaved=Refresh />
<EditOrder @ref=EditOrderModal OnSaved=Refresh />

<form class="d-flex justify-content-evenly" @onsubmit=Refresh @onsubmit:preventDefault>
    <div class="mb-3">
        <label for=query class="form-label">Traži</label>
        <input @ref=QueryElement class="form-control" id=query @bind=Query>
    </div>
    <DateTimeBox For=@nameof(From) Label=Od @bind-Value=From AfterChange=Refresh />
    <DateTimeBox For=@nameof(To) Label=Do @bind-Value=To AfterChange=Refresh />
    <button type="submit" class="d-none"></button>
</form>

<hr>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Kontakt</th>
                <th>Predmet</th>
                <th>Opis</th>
                <th>Zaprimljeno</th>
                <th>Završeno</th>
                <th>Vraćeno</th>
                <th class="text-end">
                    <button class="btn btn-sm btn-primary" @onclick=AddClicked>Dodaj</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var date in Orders)
            {
                <tr class="table-secondary">
                    <td colspan=9>
                        <h6 class="mb-0"><i>@Display(date.Key, false)</i> @CI.DateTimeFormat.GetDayName(date.Key.DayOfWeek)
                        </h6>
                    </td>
                </tr>
                @foreach (var order in date.Value)
                {
                    <tr @key=order.OrderId class=@GetStatusRowClass(order)>
                        <td>
                            @if (order.Completed.HasValue && !order.Returned.HasValue)
                            {
                                <button class="btn btn-sm btn-outline-success" @onclick=@(()=>Return(order))><i
                            class="bi bi-check"></i></button>
                            }
                            else
                            {
                                <i class=@GetStatusIconClass(order)></i>
                            }
                        </td>
                        <td>@order.OrderId.ToString("#,0")</td>
                        <td>@order.ContactName</td>
                        <td>@order.Subject</td>
                        <td>@order.Description</td>
                        <td>@Display(order.Arrived)</td>
                        <td>@Display(order.Completed)</td>
                        <td>@Display(order.Returned)</td>
                        <td class="text-end">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-primary" @onclick=@(()=>EditClicked(order))>Izmijeni</button>
                                <a class="btn btn-sm btn-success" href="/print/@order.OrderId" target="_blank">Print</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>