@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Root)]
@using ciklonalozi.Modals

<CreateOrder @ref=CreateOrderModal OnSaved=Refresh />
<EditOrder @ref=EditOrderModal OnSaved=Refresh />

<form class="d-flex justify-content-evenly" @onsubmit=Refresh @onsubmit:preventDefault>
    <div class="mb-3">
        <label for=order-no class="form-label">Broj naloga</label>
        <input @ref=QueryElement class="form-control" id=order-no @bind=OrderNo>
    </div>
    <div class="mb-3">
        <label for=query class="form-label">Traži</label>
        <input class="form-control" id=query @bind=Query>
    </div>
    <DateTimeBox For=@nameof(From) Label=Od @bind-Value=From AfterChange=Refresh />
    <DateTimeBox For=@nameof(To) Label=Do @bind-Value=To AfterChange=Refresh />
    <button type="submit" class="d-none"></button>
    <RequestCounter />
</form>

<hr>

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th></th>
                <th class="text-end">#</th>
                <th>Kontakt</th>
                <th>Predmet</th>
                <th>Opis</th>
                <th>Zaprimljeno</th>
                <th>Završeno</th>
                <th>Vraćeno</th>
                <th class="text-end">Cijena (€)</th>
                <th class="text-end">
                    <button class="btn btn-sm btn-primary" @onclick=AddClicked accesskey="n">
                        <b><u>N</u>ovi nalog</b>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var date in Orders)
            {
                var percentage = GetEffortPercentage(Efforts[date.Key]);
                <td colspan=10 class="p-1">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0 fs-6 text-capitalize"><i class="bi bi-calendar-event me-2"></i>
                            @C.CI.DateTimeFormat.GetDayName(date.Key.DayOfWeek) → @C.Display(date.Key, false)
                        </h6>
                        <div class="progress" role="progressbar" style="height: 18px; width: 150px"
                            title=@percentage.ToString("#0.00")%>
                            <div class="progress-bar" style=@GetEffortStyle(percentage)></div>
                        </div>
                    </div>

                </td>
                @foreach (var order in date.Value)
                {
                    <tr @key=order.OrderId class=@GetStatusRowClass(order) title=@GetStatusTitle(order)>
                        <td>
                            @if (order.Completed.HasValue && !order.Returned.HasValue)
                            {
                                <button class="btn btn-sm btn-outline-success" @onclick=@(()=>Return(order))><i
                                        class="bi bi-check"></i></button>
                            }
                            else
                            {
                                <i class=@GetStatusIconClass(order)></i>
                            }
                        </td>
                        <td class="text-end">@C.Display(order.OrderId)</td>
                        <td>@order.ContactName</td>
                        <td>@order.Subject</td>
                        <td>@order.Description</td>
                        <td>@C.Display(order.Arrived)</td>
                        <td>@C.Display(order.Completed)</td>
                        <td>@C.Display(order.Returned)</td>
                        <td class="text-end">@C.Display(order.RealPrice)</td>
                        <td class="text-end">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-primary" style="font-size:large;"
                                @onclick=@(()=>EditClicked(order))>
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <a class="btn btn-sm btn-success" style="font-size:large;" href="/print/@order.OrderId"
                                    target="_blank">
                                    <i class="bi bi-printer-fill"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (_resultCount == MAX)
    {
        <div class="alert alert-warning" role="alert">
            Prikazuje se samo prvih @MAX naloga. Definiraj preciznije uvjete ako nisi našao nalog koji tražiš! Zašto? Zato
            što preglednik umire prilikom prikaza tone naloga.
        </div>
    }
</div>