@page "{id:int}"
@using ciklonalozi.Pages
@model Print

<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ciklo-Sport Nalog @Model.Order?.OrderId.ToString("#,000")</title>
    <link rel="stylesheet" href="/css/bootstrap-night.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css" />
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/css/sexy.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    @if (Model.Order == null)
    {
        <h1 style="text-align: center;">Radni nalog nije pronađen.</h1>
    }
    else if (Model.Order.Removed)
    {
        <h1 style="text-align: center;">Nalog je izbrisan - nema podataka za print.</h1>
    }
    else
    {
        @* Ovo se neće printanti zbog klase d-print-none *@
        <div class="d-grid d-print-none m-3">
            <button class="btn btn-success btn-block" type="button" onclick="window.print()">Print</button>
        </div>
        
        <div class="d-flex justify-content-between">
            <div><img style="height: 80px; width: auto;" src="/images/cs-300.png" /></div>
            <div>
                <p class="print-header"><b>CIKLO-SPORT d.o.o.</b></p>
                <p class="print-header">Videkovići 24c</p>
                <p class="print-header">10431 Sv. Nedelja</p>
                <p class="print-header">tel: +385 1 788 8860</p>
                <p class="print-header">e-mail: info@ciklo-sport.hr</p>
            </div>
        </div>

        <hr />

        <h3 style="text-align: center;">Radni nalog br.: @Model.Order.OrderId</h3>

        <hr />

        <div class="d-flex justify-content-around">
            <div>
                <p class="print-contactinfo"><b>Korisnik:</b></p>
                <p class="print-contactinfo"><b>Kontakt telefon:</b></p>
                <p class="print-contactinfo"><b>Predmet:</b></p>
            </div>
            <div>
                <p class="print-contactinfo">@Model.Order.ContactName</p>
                <p class="print-contactinfo">@Model.Order.ContactPhone</p>
                <p class="print-contactinfo">@Model.Order.Subject</p>
            </div>
        </div>

        <hr />

        <table class="print-table">
            <tr>
                <td><b>Opis radova:</b></td>
            </tr>
            <tr>
                <td class="print-td">@Model.Order.Description</td>
            </tr>
        </table>

        @* Prikaz procjene iznosa radova ako je upisana *@
        @if (Model.Order.EstimatedPrice.HasValue)
            {
                <p style="text-align: right; font-size: 9px;">Procjena iznosa: ~ @Model.Order.EstimatedPrice kn.</p>
            }
        else
            {
                
            }

        <hr />

        <div class="d-flex justify-content-between">
            <div><p class="print-p">Najavljeno: @Model.Order.Arrival</p></div>
            <div>@* Datum dolaska, može biti prazno ako je samo najava u pitanju *@
                @if (Model.Order.Arrived.HasValue)
                    {
                        <p class="print-p">Zaprimljeno: @Model.Order.Arrived</p>
                    }
                else
                    {
                        <p class="print-p">Predmet nije zaprimljen na dan ispisa.</p>
                    }
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                @* Završni datum, može biti prazan ako nije zavšen servis *@
                @if (Model.Order.Completed.HasValue)
                    {
                        <p class="print-p">Završeno: @Model.Order.Completed</p>
                    }
                else
                    {
                        @* <p class="print-p">Predmet nije završen</p> *@
                    }
            </div>
            <div>
                @* Datum preuzimanja *@
                @if (Model.Order.Returned.HasValue)
                    {
                        <p class="print-p">Predmet preuzet: @Model.Order.Returned</p>
                    }
                else
                    {
                        @* <p class="print-p">Korisnik nije preuzeo predmet</p> *@
                    }
            </div>
        </div>
        
        <p style="font-size: 10px;"><b>NAPOMENA:</b> svaki predmet je potrebno preuzeti najkasnije sedam (7) dana od dogovorenog datuma preuzimanja. Nakon isteka sedam (7) dana, svaki idući dan naplaćujemo 10,00 kuna po danu. Nakon 30 dana ne preuzetog predmeta, isti poklanjamo u dobrotvorne svrhe.</p>

        <hr />

        <p style="text-align: right; margin-right: 85px; padding-bottom: 10px; font-size: 12px;">Potpis korisnika:</p>
        <p style="text-align: right; margin-bottom:0; font-size: 12px;">__________________________________</p>
        <p style="text-align: right; font-size: 8px; color:#525252; margin-right:60px;">(@Model.Order.ContactName)</p>

        <div class="print-footer"><b>CIKLO-SPORT d.o.o.</b> - Poslovnica 1 - Hrvatske Bratske Zajednice 4, 10000 Zagreb</div>

        @* Ovaj div označava prelazak na novu print stranicu *@
        <div style="page-break-after: always;"></div>

        <div class="d-flex justify-content-between">
            <div><img style="height: 80px; width: auto;" src="/images/cs-300.png" /></div>
            <div>
                <p class="print-header"><b>CIKLO-SPORT d.o.o.</b></p>
                <p class="print-header">Videkovići 24c</p>
                <p class="print-header">10431 Sv. Nedelja</p>
                <p class="print-header">tel: +385 1 788 8860</p>
                <p class="print-header">e-mail: info@ciklo-sport.hr</p>
            </div>
        </div>

        <hr />

        <h3 style="text-align: center;">Radni nalog br.: @Model.Order.OrderId</h3>

        <hr />

        <div class="d-flex justify-content-around">
            <div>
                <p class="print-contactinfo"><b>Korisnik:</b></p>
                <p class="print-contactinfo"><b>Kontakt telefon:</b></p>
                <p class="print-contactinfo"><b>Predmet:</b></p>
            </div>
            <div>
                <p class="print-contactinfo">@Model.Order.ContactName</p>
                <p class="print-contactinfo">@Model.Order.ContactPhone</p>
                <p class="print-contactinfo">@Model.Order.Subject</p>
            </div>
        </div>

        <hr />

        <table class="print-table">
            <tr>
                <td><b>Opis radova:</b></td>
            </tr>
            <tr>
                <td class="print-td">@Model.Order.Description</td>
            </tr>
        </table>

        @* Prikaz procjene iznosa radova ako je upisana *@
        @if (Model.Order.EstimatedPrice.HasValue)
            {
                <p style="text-align: right; font-size: 9px;">Procjena iznosa: ~ @Model.Order.EstimatedPrice kn.</p>
            }
        else
            {
                
            }

        <hr />

        <div class="d-flex justify-content-between">
            <div><p class="print-p">Najavljeno: @Model.Order.Arrival</p></div>
            <div>@* Datum dolaska, može biti prazno ako je samo najava u pitanju *@
                @if (Model.Order.Arrived.HasValue)
                    {
                        <p class="print-p">Zaprimljeno: @Model.Order.Arrived</p>
                    }
                else
                    {
                        <p class="print-p">Predmet nije zaprimljen na dan ispisa.</p>
                    }
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                @* Završni datum, može biti prazan ako nije zavšen servis *@
                @if (Model.Order.Completed.HasValue)
                    {
                        <p class="print-p">Završeno: @Model.Order.Completed</p>
                    }
                else
                    {
                        @* <p class="print-p">Predmet nije završen</p> *@
                    }
            </div>
            <div>
                @* Datum preuzimanja *@
                @if (Model.Order.Returned.HasValue)
                    {
                        <p class="print-p">Predmet preuzet: @Model.Order.Returned</p>
                    }
                else
                    {
                        @* <p class="print-p">Korisnik nije preuzeo predmet</p> *@
                    }
            </div>
        </div>

        @* <div id=qrcode></div>
        <div>@Model.OrderLink</div> *@
        
        <p style="font-size: 10px;"><b>NAPOMENA:</b> svaki predmet je potrebno preuzeti najkasnije sedam (7) dana od dogovorenog datuma preuzimanja. Nakon isteka sedam (7) dana, svaki idući dan naplaćujemo 10,00 kuna po danu. Nakon 30 dana ne preuzetog predmeta, isti poklanjamo u dobrotvorne svrhe.</p>

        <hr />

        <div class="print-footer"><b>CIKLO-SPORT d.o.o.</b> - Poslovnica 1 - Hrvatske Bratske Zajednice 4, 10000 Zagreb</div>
    }

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/easy-qrcode.min.js"></script>
    <script>

        // Opcije prilikom generiranja
        var options = {
            text: "@Model.OrderLink",
            quietZone: 10,

            // logo: "/images/cs-300.png", // mora biti png...
            // logoWidth: 150,
            // logoHeight: 82,
            // Za više opcija https://github.com/ushelp/EasyQRCodeJS#options
        };

        // Ova linija dodaje qr u div
        @* new QRCode(document.getElementById("qrcode"), options); *@

        @* // Ovo možda bolje zakomentiraj dok prčkaš po stranici da te ne jebe
        window.print();
        // Ova linija zatvara tab, ali može raditi sranja
        setTimeout(window.close, 100); *@
    </script>
</body>

</html>
